{
  "extends": [
    "airbnb",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "no-param-reassign": 0,
    "no-restricted-syntax": 0,
    "react/destructuring-assignment": 0,
    "react/react-in-jsx-scope": 0,
    "semi": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "no-underscore-dangle": 0,
    "react/prop-types": 0,
    "react/require-default-props": 0,
    "no-alert": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "no-undef": 0,
    "no-debugger": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "semi": false
      }
    ]
  },
  "globals": {
    "document": true,
    "window": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}
